
		
		.login{
			position: fixed;
			width: 100%;
			height: 100%;
			background: #EEF6FC;
		}

		.back-login{
			display: flex;
			height:1.17rem; 
			width: 1.17rem;
			padding:0.3rem;
			flex-direction: column;
			justify-content: center;
		}

		.back-login>img{

			width: 0.6rem;
			height: 0.4rem;
		}

		.header-bg{
			background:url("../img/login_bg.png") no-repeat 0 0; 
			height: 9rem;
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
		}

        /* .header-logo>img{
			margin-top: 1.7rem;
			margin-left: 4rem;
			width: 1.5rem;
			height: 1.5rem;
		} */

		.content{
            position: relative; 
		}

		.formData {
            height: 5.8rem;
			background: white;
            width: 9rem;    
			position: absolute;
			top: 6rem;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
	
		.account {
			margin-top: 0.93rem;
			height:0.93rem;
			font-size: 0.3rem;
			padding-left: 0.1rem;
			background: #F6F1fE;
			border-radius: 0.2rem;
			width: 8.5rem;
			color: #819FFC;
			border: hidden;
            line-height: 0.93rem;
		}
		.city{
			margin-top: 0.2rem;
			height:0.93rem;
			font-size: 0.3rem;
			padding-left: 0.1rem;
			background: #F6F1fE;
			border-radius: 0.2rem;
			width: 8.5rem;
			color: #819FFC;
			border: hidden;
            line-height: 0.93rem;
		}
		.password {
			margin-top: 0.2rem;
			height:0.93rem;
			font-size: 0.3rem;
			padding-left: 0.1rem;
			background: #F6F1fE;
			border-radius: 0.2rem;
			width: 8.5rem;
			color: #819FFC;
			border: hidden;
			margin-left: 0.1rem;
			margin-right: 0.1rem;
			line-height: 0.93rem;
		}
		
		.city>img ,.account>img,.password>img{
			width: 0.45rem;
			height: 0.45rem;
			margin-right: 0.2rem;
		}

		.else {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
			height: 1rem;
			margin-top: 0.4rem;
			margin-left: 1rem;
			margin-right: 1rem;
			width: 8.5rem;
		}
		
		.else span:nth-child(1) {
			font-size: 0.25rem;
		}
		
		.else span:nth-child(2) {
			font-size: 0.25rem;
		}

		.login-clu{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;

		}
		
		.loginSubmit {
			height:0.93rem;
			color: white;
			font-size: 0.35rem;
			background: #9B64F8;
			border-radius: 0.2rem;
			width: 8.5rem;
			margin: 0 auto;
			border: hidden;
			margin-top:3rem;
			margin-left: 0.7rem;
		}
